<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	
	<h3>메모 목록</h3>
	
		<table>
			<tr>
				<td>번호</td>
				<td>공개여부</td>
				<td>메모</td>
				<td>연락처</td>
			</tr>

			<tr th:each="vo:${list}">
				<td>[[${vo.mno}]]</td>
				<td th:if="${#strings.equals(vo.secret,'y')}">비밀글</td>
				<td th:unless="${#strings.equals(vo.secret,'y')}">공개글</td>
				<td th:unless="${#strings.equals(vo.secret,'y')}">[[${vo.memo}]]</td>
				<td th:unless="${#strings.equals(vo.secret,'y')}">[[${vo.phone}]]</td>
			</tr>
			
	</table>
	
	<a href="memoWrite">메모쓰기</a>
</body>
</html>