<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h3>타임리프 반복문</h3>

   <!-- [[${list}]] -->

    <ul>
        <li th:each="vo:${list}">
            [[${vo.name}]]<br>
            [[${vo.id}]]<br>
            [[${vo.salary}]]
        </li>
    </ul>
    <hr>

    <!-- 상태변수 선언 : 두 번째 변수는 상태값을 선언해 준다 -->
    <ul>
        <li th:each="vo, status:${list}">
            [[${vo.name}]]<br>
            [[${status}]]
        </li>
    </ul>

    <hr>
    <ul>
        <li th:each="vo:${list}" th:if="${vo.salary} % 200 == 0">
            [[${vo}]]
        </li>
    </ul>

    <hr>
    <ul>
        <li th:each="vo, status:${list}">
            <span th:if="${status.count}%2==1"></span>
            <span th:unless="${status.count}%2==0">짝수</span>
        </li>
    </ul>
</body>
</html>