<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>block태그와 a링크</h3>
    <ul>
      <th:block th:each="vo:${list}">
      <li >[[${vo.name}]]</li>
      </th:block>
    </ul>


    <hr>
    <h3>타임리프 a링크</h3>
    <ul>
        <li th:each="vo:${list}">
            <a th:href="@{/view/result(name=${vo.name})}">[[${vo.name}]]</a>
        </li>
    </ul>

    <hr>
    <h3>쿼리 파라미터로 넘기는 방식</h3>
    <ul>
        <li th:each="vo:${list}">
            <a th:href="@{/view/result2/{a}/{b}(a=${vo.address}, b=${vo.salary})}">[[${vo.name}]]</a>
        </li>
    </ul>
</body>
</html>